<input id="input-username" type="text" />
<input  id="input-passwords" type="password" />

<a href="#/login" id="signin-btn" class="btn btn-success">Log in</a>
<a href="#/register" id="signin-btn" class="btn btn-success">Register</a>   